/* Fontes da aplicação */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,500;0,600;1,300;1,500;1,600&display=swap');


:root {

  /* font-family */
  --font: 'IBM Plex Sans', sans-serif;

  /* font-weight */
  --light: 300;
  --medium: 500;
  --semi-bold: 600;

}



/* Palete de cores da aplicação */
:root {

  /* Cores primárias */
  --azul-principal: #0916A3;
  --azul-embraer: #1F3C92;
  --azul-embraer-dark: #0A1A5C;
  --azul-embraer-light: #004AEB;

  /* Cores secundárias */
  --azul-claro: #005BAF;
  --azul-claro-light: #1781E3;
  --azul-claro-dark: #00417D;

  /* Cores auxiliares */
  --amarelo: #F3C653;
  --silver: #C0C0C0;
  --platinum: #E0E0E1;
  --white: #FFFFFF;

}

/* semantic color variables for this project */
:root {
  --color-background: var(--platinum);

  --color-hover: var(--amarelo);

  --color-text: var(--azul-principal);

}

/* Esquema de cores para o usuário com preferência de navegador "dark" */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);

    --color-hover: var(--vt-c-divider-dark-1);

    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  
}

body {

  font-family: var(--font);
  background-color: var(--platinum);

}

/* ------------------------------- ↓↓↓↓↓ Modificações repetitivas ↓↓↓↓↓ --------------------------------*/
select{
  border-color: var(--azul-claro-light);
  border-radius: 5px;
  width: 18rem;
  height: 2rem;
  font-size:large;

}

button{
  margin-left: 10px;
  width: 6rem;
  height: 1.5rem;
  border-radius: 5px;
  background-color: var(--azul-principal);
  color: var(--white);
  border-color: var(--azul-claro-light);

}



input{
  border-color: var(--azul-claro-light);
  border-radius: 5px;
  width: 25rem;
  height: 2rem;
  font-size:large;
  margin-top: 10px;
  margin-left: 2px;
  font-size: x-large;
}
.form {
  display: flex;
  justify-content: center;
}
.aling{
  background-color: white;
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid var(--azul-principal);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.sbs{
  padding-top: 20px;
}

.item{
 padding-top: 16px;
}

.select-sb1-part{
  width: 6.5rem;
}
/* ------------------------------- ↓↓↓↓↓ Fonte Responsiva ↓↓↓↓↓ --------------------------------*/

@media all and (min-width: 100px)  {  body  { font-size: 0.9em;  } }
@media all and (min-width: 300px)  {  body  { font-size: 1em;    } }
@media all and (min-width: 500px)  {  body  { font-size: 1.1em;  } }
@media all and (min-width: 700px)  {  body  { font-size: 1.2em;  } }
@media all and (min-width: 900px)  {  body  { font-size: 1.3em;  } }
@media all and (min-width: 1100px) {  body  { font-size: 1.4em;  } }
@media all and (min-width: 1300px) {  body  { font-size: 1.5em;  } }
@media all and (min-width: 1500px) {  body  { font-size: 1.6em;  } }
@media all and (min-width: 1600px) {  body  { font-size: 1.7em;  } }
@media all and (min-width: 1800px) {  body  { font-size: 1.8em;  } }
